In [1]:
# Import the library of Pandas.
import pandas as pd

In [2]:
# Read The path of Excel file and save it in a variable called (df) --> it means DataFrame.
df = pd.read_excel(r"D:\MLT\data_clean.xlsx", engine="openpyxl")

In [3]:
# Show columns
df.columns

Index(['account_id', 'SourceSystem', 'activity_date', 'who_id',
       'opportunity_id', 'opportunity_stage', 'is_lead', 'types', 'Country',
       'solution'],
      dtype='object')

In [4]:
# Make path for every customer and save it in a variable.
path_for_every_customer = ( df.groupby(["account_id", "Country", "solution"])["types"].apply(list).reset_index() )

In [5]:
# Show the first five rows.
path_for_every_customer.head()

,account_id,Country,solution,types
0,0010L00001hVmFhQAK,United States,MRS,"[Follow Up, Inbound Call, Inbound Call, Inboun..."
1,0010L00001hVxd6QAC,United States,MRS,"[Meeting, Meeting, Review, Email, Email, Email..."
2,0010L00001hVyJQQA0,United States,MRS,"[Inbound Call, Inbound Call, Inbound Call, Inb..."
3,0010L00001hW1cAQAS,United States,MRS,[Inbound Call]
4,0010L00001ijzeFQAQ,United States,MRS,"[Email, Email, Email, Inbound Call, Inbound Ca..."

In [6]:
# Show paths for all.
path_for_every_customer

,account_id,Country,solution,types
0,0010L00001hVmFhQAK,United States,MRS,"[Follow Up, Inbound Call, Inbound Call, Inboun..."
1,0010L00001hVxd6QAC,United States,MRS,"[Meeting, Meeting, Review, Email, Email, Email..."
2,0010L00001hVyJQQA0,United States,MRS,"[Inbound Call, Inbound Call, Inbound Call, Inb..."
3,0010L00001hW1cAQAS,United States,MRS,[Inbound Call]
4,0010L00001ijzeFQAQ,United States,MRS,"[Email, Email, Email, Inbound Call, Inbound Ca..."
...,...,...,...,...
12876,001b0000040TktRAAS,France,MRS,"[Email, Email]"
12877,001b0000040To1ZAAS,France,MRS,"[On-Site, On-Site, On-Site, On-Site, On-Site, ..."
12878,001b0000040UoFUAA0,France,MRS,"[On-Site, On-Site, Follow Up, On-Site, On-Site..."
12879,001b00000424wsfAAA,France,MRS,"[On-Site, On-Site, On-Site, Email, Email, Call..."
12880,001b000004275jgAAA,France,MRS,"[Call, Call]"

In [7]:
# Transfor the types columns from List into string and include (-->) inside every cell.
path_for_every_customer["types"] = path_for_every_customer["types"].str.join(" --> ")

In [8]:
# Show paths for every customer after modified.
path_for_every_customer

,account_id,Country,solution,types
0,0010L00001hVmFhQAK,United States,MRS,Follow Up --> Inbound Call --> Inbound Call --...
1,0010L00001hVxd6QAC,United States,MRS,Meeting --> Meeting --> Review --> Email --> E...
2,0010L00001hVyJQQA0,United States,MRS,Inbound Call --> Inbound Call --> Inbound Call...
3,0010L00001hW1cAQAS,United States,MRS,Inbound Call
4,0010L00001ijzeFQAQ,United States,MRS,Email --> Email --> Email --> Inbound Call -->...
...,...,...,...,...
12876,001b0000040TktRAAS,France,MRS,Email --> Email
12877,001b0000040To1ZAAS,France,MRS,On-Site --> On-Site --> On-Site --> On-Site --...
12878,001b0000040UoFUAA0,France,MRS,On-Site --> On-Site --> Follow Up --> On-Site ...
12879,001b00000424wsfAAA,France,MRS,On-Site --> On-Site --> On-Site --> Email --> ...
12880,001b000004275jgAAA,France,MRS,Call --> Call

In [9]:
# Show the first five rows.
path_for_every_customer.head()

,account_id,Country,solution,types
0,0010L00001hVmFhQAK,United States,MRS,Follow Up --> Inbound Call --> Inbound Call --...
1,0010L00001hVxd6QAC,United States,MRS,Meeting --> Meeting --> Review --> Email --> E...
2,0010L00001hVyJQQA0,United States,MRS,Inbound Call --> Inbound Call --> Inbound Call...
3,0010L00001hW1cAQAS,United States,MRS,Inbound Call
4,0010L00001ijzeFQAQ,United States,MRS,Email --> Email --> Email --> Inbound Call -->...

In [10]:
# Counts the number of iterations of each path and made new columns for iterations calling (duplicates).
path_duplicates = ( path_for_every_customer.groupby(["Country", "solution", "types"]).size().reset_index(name = "duplicates") )

In [11]:
# Show the number of iterations of each path.
path_duplicates

,Country,solution,types,duplicates
0,Austria,MRS,Email,22
1,Austria,MRS,Email --> Email,19
2,Austria,MRS,Email --> Email --> Email,5
3,Austria,MRS,Email --> Email --> Email --> Email,6
4,Austria,MRS,Email --> Email --> Email --> Email --> Email,4
...,...,...,...,...
7312,United States,PLS,On-Site --> Email,1
7313,United States,PLS,On-Site --> Inbound Call --> Inbound Call --> ...,1
7314,United States,PLS,On-Site --> On-Site --> Inbound Call,1
7315,United States,PLS,Review --> Email --> Email --> Email --> Follo...,1
7316,United States,PLS,Review --> Meeting --> Email --> Meeting --> E...,1

In [12]:
path_duplicates.head()

   Country solution                                          types  duplicates
0  Austria      MRS                                          Email          22
1  Austria      MRS                                Email --> Email          19
2  Austria      MRS                      Email --> Email --> Email           5
3  Austria      MRS            Email --> Email --> Email --> Email           6
4  Austria      MRS  Email --> Email --> Email --> Email --> Email           4

In [13]:
# Make the top five paths.
top_five_paths = ( 
    path_duplicates.sort_values( ["Country", "solution", "duplicates"], ascending = [True, True, False] ).groupby(["Country", "solution"]).head(5) 
)

In [14]:
# Show the top five paths.
top_five_paths

,Country,solution,types,duplicates
0,Austria,MRS,Email,22
1,Austria,MRS,Email --> Email,19
3,Austria,MRS,Email --> Email --> Email --> Email,6
2,Austria,MRS,Email --> Email --> Email,5
6,Austria,MRS,Email --> Email --> Email --> Email --> Email ...,5
...,...,...,...,...
7294,United States,PLS,Inbound Call,6
7276,United States,PLS,Email --> Email,4
7295,United States,PLS,Inbound Call --> Email,4
7275,United States,PLS,Email,3
7280,United States,PLS,Email --> Inbound Call,3

In [15]:
# Transform (top fie paths) into Excel file.
top_five_paths.to_excel("top_five_paths.xlsx", index= False)